.vr-section {
    margin: 7rem 0;
    grid-template-areas: "... vr-section-content ...";
    position: relative;
    z-index: 5;
    &-content {
        grid-area: vr-section-content;
        display: grid;
        grid-template-columns: calc(60% - 1rem) calc(40% - 1rem);
        grid-template-areas: "img content";
        grid-column-gap: 2rem;
    }
    &-img {
        grid-area: img;
        position: relative;
        z-index: 3;
    }
    &-details {
        width: 130%;
        align-self: flex-end;
        background-color: white;
        position: relative;
        z-index: 5;
        transform: translate(-12vw, 2px);
        padding: 5vw 5vw 0;
        &-heading {
            margin: 0;
            margin-bottom: 1.5rem;
            font-size: 2.125rem;
            font-weight: 100;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            color: rgba(0,0,0,0.7);
        }
        &-desc {
            font-size: 0.825rem;
            font-weight: 600;
            letter-spacing: 1px;
            line-height: 1.375rem;
            color: rgba(0,0,0,0.3);
        }
    }
}


// 1020px
@media (max-width: 63.75em) {
    .vr-section-details {
        &-desc {
            font-size: 0.925rem;
            line-height: 1.5rem;
        }
    }
}

// 890px
@media (max-width: 55.625em) {
    .vr-section-content {
        grid-template-columns: 70%;
        grid-template-areas: "img" "content";
        justify-content: center;
    }
    .vr-section-details {
        width: 80%;
        transform: translate(0, 2px);
        padding-left: 0;
    }
}

// 655px
@media (max-width: 40.9375em) {
    .vr-section-details {
        width: 100%;
    }
}

// 600px
@media (max-width: 37.5em) {
    .vr-section-content {
        grid-template-columns: 100%;
    }
}


// 1600px
@media (min-width: 100em) {
    .vr-section-details {
        transform: translate(-32%, 2px);
        padding: 5rem 5rem 0 5rem;
    }
}

